body {
  font-family: 'Lato', sans-serif;
}

nav {
  border: solid 2px blue;
}

.container {
  border: solid 2px pink;
}

.box-1,
.box-8 {
  background-color: #535657;
  border: solid 2px red;
}

.box-2,
.box-7 {
  background-color: #4F646F;
  border: solid 2px red;
}

.box-3,
.box-5 {
  background-color: #B7ADCF;
  border: solid 2px red;
}

.box-4,
.box-6 {
  background-color: #DEE7E7;
  border: solid 2px red;
}
