body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #DEE7E7;
}

nav {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  background-color: #535657;
}

.nav-left {
  display: flex;
  flex-direction: row;
  width: 40%;
  color: #F4FAFF;
  align-items: center;
}

.nav-text {
  margin-left: 2%;
  margin-right: 5%;
}

.nav-right {
  display: flex;
  flex-direction: column;
}

.admin {
  color: #F4FAFF;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  align-items: center;
}

.main-title {
  color: #B7ADCF;
  font-size: 4vmin;
}

/* @media screen and (min-width: 615px) { */
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 45% 45%;
    grid-gap: 2%;
    height: 100vh;
    padding: 1%;
    margin-bottom: 25vh;
  }
/* } */

.grid-title {
  grid-column: span 4;
  color: #4F646F;
  font-size: 4vmin;
}

/* BOXES */

.box-top {
  height: 40%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2%;
}

.likes {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h3,
h4 {
  font-size: 1.5vmin;
  margin: 0;
}

.number {
  font-size: 3.5vmin;
  margin: 0;
}

.box-top {
  background-position: center;
  background-size: cover;
}

.box-one {
  background-image: url(assets/amalfi.jpg);
}

.box-two {
  background-image: url(assets/florence.jpg);
}

.box-three {
  background-image: url(assets/venice.jpg);
}

.box-four {
  background-image: url(assets/rome.jpg);
}

.box-five {
  background-image: url(assets/verona.jpg);
}

.box-six {
  background-image: url(assets/cinque.jpg);
}

.box-seven {
  background-image: url(assets/tuscany.jpg);
}

.box-eight {
  background-image: url(assets/capri.jpg);
}

.box-bottom {
  height: 55%;
  background-color: #F4FAFF;
  padding: 5%;
}

.box-title {
  font-size: 3vmin;
  color: #4F646F;
}

.website {
  border: solid #B7ADCF;
  padding: 4%;
  text-align: center;
  margin-bottom: 4%;
}

.hotels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
